@model MealsViewModel
@{ Model.ingredients = new List<string>(); }

<head>
    <link rel="stylesheet" href="css/form.css"/>
</head>

<div class="container" class="form-group">
    <form method="post" asp-action="AddNewMeal" asp-controller="Meals" id="addnewmeal" enctype="multipart/form-data">
        <input asp-for="Name" type="text" id="name" placeholder="Enter Meal Name">
        <input asp-for="Description" type="text" id="description" placeholder="Enter Meal Description">
        <input asp-for="Weight" type="number" step="0.01" id="weight">
        <input asp-for="Price" type="number" step="0.01" id="price">

        <div id="strings">
            @for (int i = 0; i < Model.ingredients.Count; i++)
            {
                <div class="editor-label">
                    @Html.TextBoxFor(m => m.ingredients[i])
                </div>
            }
        </div>

        <div id="newstring" style="display:none;">
            <input type="text" name="ingredients[#]" />
        </div>
        <button type="button" id="addstring">Add Ingredient</button>

        <input type="submit" value="Add Meal" class="">
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
@section scripts{
    <script type="text/javascript">
        var container = $('#strings');
        $('#addstring').click(function() {
          var index = container.children('input').length;
          var clone = $('#newstring').clone();
          clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
          container.append(clone.html());
        });
    </script>
}
